<% if @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      Your sign up request contains <%= pluralise(@user.errors.count, "error") %>.
    </div>
    <ul>
    <% @user.errors.full_messages.each do |m| %>
      <li> <%= m %> </li>
    <%end%>
    </ul>
  </div>
<% end %> 
